doctype html
html
    head
        title My Name Page
    body
        h2 Please enter your name 
            form(action="/trackName", method="post")
                input(type="text", name="name")
                br
                button(type="submit") submit
