/* 大於1200px */

@media (min-width: 1201px){

    .navBtn {
        display: none;
    }

    .navList {
        display: inline-block;
        /* margin: 0;
        padding-right: 1%; */
    }

    .navListItem {
        display: inline-block;
        list-style: none;
        padding: 10px 18px;
    }

    .navListItem :hover,
    .navListItem :active {
        background-color: rgba(0, 100, 150, 0.3);
    }

    /* .navListItem a {
        font-size: 20px;
        text-decoration: none;
    } */

    .sectionContainer {
        max-width: 1200px;
        margin: auto;
    }

}

/*   800px-1200px   */

@media (min-width: 801px) and (max-width: 1200px) {
 
    .navBtn {
        display: none;
    }

    .navList {
        display: inline-block;
        /* margin: 0;
        padding-right: 1%; */
    }

    .navListItem {
        display: inline-block;
        list-style: none;
        padding: 10px 18px;
    }

    .navListItem :hover,
    .navListItem :active {
        background-color: rgba(0, 100, 150, 0.3);
    }

    /* .navListItem a {
        font-size: 20px;
        text-decoration: none;
    } */

    .sectionContainer {
        max-width: 90%;
        margin: auto;
    }

}

/*  500px - 800px */

@media (min-width: 501px) and (max-width: 800px) {


    .navBar {
        /* height: 52px;
        width: 100%;
        margin: 0;
        background-color: rgba(153, 221, 255, 0.8);
        position: fixed; */
        display: table;
        /* align-items: center; */
    }
    
    /* .name {
        font-size: 32px;
        padding: 0 1%; 
    } */
    
    /* .logo {
        margin-right: auto;
        height: 36px;
    } */
    
    .navBtn {
        /* background: none;
        border: none; */
        float: right;
    }
    
    /* .navBtn img{
        height: 48px;
          
    } */
    
    .navList {
        display: none;
        margin: 0;
        padding: 0;
        width: 50%;
        position: fixed;
        background-color: rgba(100, 100, 100, 0.9);        top: 0;
        right: 0;
        /* z-index: 5; */
        height: -webkit-fill-available;
    }
    
    .closeBtn {
        /* display: none; */
        position: fixed;
        height: 24px;
        top: 12px;
        right: 12px;
        /* z-index: 3; */
    }

    .navListItem {
        /* display: block;
        list-style: none; */
        padding: 24px 12px;
    }

    .navListItem:hover,
    .navListItem :active{
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .navListItem a {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    .sectionContainer {
        max-width: 90%;
        margin: auto;
    }
}


/*    小於 500px   */

@media (max-width: 500px) {

    .navBar {
        /* height: 48px;
        width: 100%;
        margin: 0;
        background-color: rgba(153, 221, 255, 0.8);
        position: fixed; */
        display: table;
        /* align-items: center; */
    }
    
    /* .name {
        font-size: 32px;
        padding: 0 1%; 
    }
    
    .logo {
        margin-right: auto;
        height: 36px;
    } */
    
    .navBtn {
        /* background: none;
        border: none; */
        float: right;
    }
    
    /* .navBtn img {
        height: 48px;
    } */
    
    .navList {
        display: none;
        margin: 0;
        padding: 0;
        width: 50%;
        position: fixed;
        background-color: rgba(100, 100, 100, 0.9);
        top: 0;
        right: 0;
        z-index: 50;
        height: -webkit-fill-available;
    }
    
    .closeBtn {
        /* display: none; */
        position: fixed;
        height: 24px;
        top: 12px;
        right: 12px;
    }

    .navListItem {
        /* display: block;
        list-style: none; */
        padding: 24px 12px;
    }

    .navListItem :hover,
    .navListItem :active {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    /* .navListItem a {
        color: white;
        font-size: 20px;
        text-decoration: none;
    } */

    .flexRow {
        flex-wrap: wrap;
    }

    .box {
        margin: 5%;
    }

}

